.end-text {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    color: #666;
}

.modal {
    position: fixed;
    inset: 0;
    background: white;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    overflow-y: auto;
    z-index: 2000;
}

.modal.show {
    transform: translateX(0);
}
